In [19]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: C:\Users\gmman\Internship

In [20]:
import pandas as pd
file_path=r"laptoppriceprediction/Laptop_price.csv"
df=pd.read_csv(file_path)

In [21]:
df.head()

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919
2,Lenovo,3.241627,4,256,11.853023,2.029061,9291.023542
3,Acer,3.806248,16,512,12.280360,4.573865,17436.728334
4,Acer,3.268097,32,1000,14.990877,4.193472,32917.990718

In [4]:
import pandas as pd
import time

def log_execution_time(function):
    def wrapper(*args, **kwargs):
        start = time.time()
        value = function(*args, **kwargs)
        end = time.time()
        execution_time = end - start
        print(f"The execution time of {function.__name__} is {execution_time:.4f} seconds")
        return value
    return wrapper

@log_execution_time
def data_preprocessing(dataset):
    dataset = dataset[dataset['Brand'].notnull()]
    return dataset
    
file_path = r"laptoppriceprediction/Laptop_price.csv"
dataset = pd.read_csv(file_path)
processed_dataset = data_preprocessing(dataset)

The execution time of data_preprocessing is 0.0080 seconds